/* .wrap{
    width:375px;
    height: 667px;
    margin:0 auto;
    background-color:#f2f2f2;
    border: 1px solid #eee;
    overflow: auto;
} */
.headnav{
    height: 4.2rem;
    line-height: 4.2rem;
    position: fixed;
    left:0;
    right:0;
    top:0;
    background-color: #fff;
    border-bottom:1px solid #eee;
    z-index: 999;
}
.headnav .retuBtn{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-top: 1px solid #999;
    border-left:1px solid #999;
    transform: rotate(-45deg);
    position: absolute;
    left:1.5rem;
    top:1.3rem;
}
.headnav h1{
    text-align: center;
    font-size: 1.7rem;
}
.content{
    margin-top: 4.2rem;
    padding-bottom: 5rem;
}
.shoplist{
    margin:0.2rem 0 1rem 0;
    display: flex;
    /* 多行显示 */
    flex-wrap: wrap;
    /* justify-content: space-around; */
}
.shoplist li{
    /* width:14.8rem; */
    width:43%;
    height: 20.6rem;
    margin:0.8rem 2% 0 2%;
    border-radius: 0.3rem;
    background-color: #fff;
    padding:1rem 2%;
}
.shoplist li:nth-child(2n){
    /* margin-left:0.8rem; */
    margin-left:0;
}
.shoplist .good{
    padding-bottom: 1rem;
    border-bottom:1px dotted #eee;
    overflow: hidden;
}
.shoplist .good img{
    display: block;
    margin: 0 auto;
    width:14.8rem;
    height: 14.8rem;
}
.shoplist .goodname{
    width:14.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    font-size: 1.3rem;
    
}
.shoplist li .good_description{
    font-size: 1.3rem;

}
.shoplist .good_description del{
    text-decoration: line-through;
}
.shoplist .good_description i{
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    background: url(./../img/add.png) no-repeat;
    background-size: 1.8rem 1.8rem;
    position: absolute;
    right:0;
    bottom:0;
}
.fix_btm{
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    height: 5rem;
    line-height: 5rem;
    display: flex;
    background-color: #fff;
    z-index: 999;
}
.fix_btm .shoping{
    flex: 1;
    color:#666;
}
.fix_btm .nextBtn{
    width:9.5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    color:#fff; 
    font-size:1.4rem;
    border:none;
    outline: none;
}
.fix_btm .shopIcon{
    display: inline-block;
    width:2.5rem;
    height: 5rem;
    background: url(./../img/shop_icon.png) no-repeat center center;
    background-size: 2.5rem 2.3rem;
    margin:0 2.5rem 0 2rem;
    vertical-align: middle;
}